html {
	margin: 0px;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	font-size: 18px;
	max-width: 780px;
	/*width: 100%;*/
	/*margin: 0px;*/
	width: 75%;
	margin: auto auto auto 15%;
	/*overflow-x: hidden;*/
}

/* header */

.header {
	margin-bottom: 50px;
}

.profile-pic {
	float: left;
	background-color: lightblue;
	width: 150px;
	height: 150px;
	margin: 25px 25px 25px 0px;
}

.name {
	font-family: 'Quicksand', sans-serif;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-size: 35px;
	/*height: 75px;*/
	/*border-bottom: 2px solid lightgray;*/
	margin-top: 35px;
}

.name > h1 {
	margin: 0;
}

.links > ul {
	list-style: none;
	margin: 10px 0px;
	padding: 0;
}

.links > ul > li {
	display: inline;
}

.links > ul > li:after {
	content: "|";
	margin: 0px 14px 0px 19px;
}

.links > ul > li:last-child:after {
	content: "";
	margin: 0px 0px 0px 0px;
}

a, a:active, a:visited {
	color: #485678;
}

.content {
	line-height: 33px;
}