html {
	margin: 0px;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	font-size: 18px;
	max-width: 780px;
	/*width: 100%;*/
	/*margin: 0px;*/
	width: 75%;
	margin: auto auto auto 15%;
	/*overflow-x: hidden;*/
}

/* header */

.header {
	margin-bottom: 50px;
}

.profile-pic {
	float: left;
	background-color: lightblue;
	width: 150px;
	height: 150px;
	margin: 25px 25px 25px 0px;
}

.name {
	font-family: 'Quicksand', sans-serif;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-size: 35px;
	/*height: 75px;*/
	/*border-bottom: 2px solid lightgray;*/
	margin-top: 35px;
}

.name > h1 {
	margin: 0;
}

.links > ul {
	list-style: none;
	margin: 10px 0px;
	padding: 0;
}

.links > ul > li {
	display: inline;
}

.links > ul > li:after {
	content: "|";
	margin: 0px 14px 0px 19px;
}

.links > ul > li:last-child:after {
	content: "";
	margin: 0px 0px 0px 0px;
}

a, a:active, a:visited {
	color: #485678;
}

.content {
	line-height: 33px;
}

.page {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 800px;

}

.first.page {
	float: left;
	margin-left: calc((33.33% - 800px)/2);
}

.middle.page {
	margin: 0 auto;
}

.last.page {
	float: right;
	margin-right: calc((33.33% - 800px)/2);
}

#projects {
	background-color: white;
}

#about {
	background-color: white;
}

#resume {
	background-color: white;
}

/* project page */

.project-container {
	width: 100%;
	height: 200px;
	margin-bottom: 27px;
}

#ns-img {
	background: url('img/NetworkScraper.png');
	background-position: -241px -50px;
	background-size: 810px;
}


#pp-img {
	background: url('img/PrimeCake.png');
	background-position: -11px -3px;
	background-size: 323px;
}

.project-img {
	float: left;
	width: 300px;
	height: 200px;
	border: 2px dashed black;
	margin-right: 25px;
}

.project-title {
	float: left;
	width: 471px;
}

.project-desc {
	float: left;
	width: 471px;
}

/*Resume Page*/

#resume img {
	width: 100%;
}

