html {
	margin: 0px;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	width: 800px;
	margin: 0px calc((100% - 800px)/2);
	overflow-x: hidden;
}

/* header */

.header {
	width: 100%;
	height: 200px;	
}

.profile-pic {
	float: left;
	background-color: lightblue;
	width: 150px;
	height: 150px;
	margin: 25px 25px 25px 0px;
}

.name {
	position: relative;
	float: left;
	width: 625px;
	height: 75px;
	border-bottom: 2px solid lightgray;
	margin-top: 35px;
}

.name > h1 {
	position: absolute;
	font-size: 33px;
	margin-bottom: -11px;
	bottom: 12.5px;
}

.social-link {
	float: right;
	background-color: lavenderblush;
	width: 29px;
	height: 29px;
	border: 1px dashed black;
	margin: 33px 0px 0px -1px;
}

/*this might be nice*/
/*.social-link:hover > .social-logo {
	fill: white;
}*/

.social-logo {
	width: 25px;
	margin: 2px;
}

.nav-highlight {
	position: absolute;
	background-color: blue;
	pointer-events: none;
	opacity: 0.1;
	right: 208px;
	top: 90px;
	width: 210.3px;
	height: 50px;
}

.page-links {
	float: left;
	background-color: lightgray;
	text-align: center;
	cursor: pointer;
	line-height: 48px;
	font-size: 19px; 
	width: 207.3px;
	height: 48px;
	border: 1px dashed black;
	margin: 12.5px 0px 0px -1px;
}

.box-row:hover {
	border: 1px solid black;
}

/* content */

.content {
	position: absolute;
	right: -100%;
	width: 300%;
	height: auto;
}

.page {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 800px;

}

.first.page {
	float: left;
	margin-left: calc((33.33% - 800px)/2);
}

.middle.page {
	margin: 0 auto;
}

.last.page {
	float: right;
	margin-right: calc((33.33% - 800px)/2);
}

#projects {
	background-color: white;
}

#about {
	background-color: white;
}

#resume {
	background-color: white;
}

/* project page */

.project-container {
	width: 100%;
	height: 200px;
	margin-bottom: 27px;
}

#ns-img {
	background: url('img/NetworkScraper.png');
	background-position: -241px -50px;
	background-size: 810px;
}


#pp-img {
	background: url('img/PrimeCake.png');
	background-position: -11px -3px;
	background-size: 323px;
}

.project-img {
	float: left;
	width: 300px;
	height: 200px;
	border: 2px dashed black;
	margin-right: 25px;
}

.project-title {
	float: left;
	width: 471px;
}

.project-desc {
	float: left;
	width: 471px;
}



